keras==2.2.4
h5py>=2.7.1
opencv-python==3.4.0.12
Pillow>=5.1
git+https://github.com/fizyr/keras-retinanet.git@0d89a33bace90591cad7882cf0b1cdbf0fbced43
pip==9.0.1
scikit-learn>=0.19
boto3>=1.7<1.8
tensorflow-gpu==1.4.0
